* {
	margin: 0;
	padding: 0;
}

/* miscellaneous */
.bg-blue {
	background: rgba(50, 50, 121, 0.7);
}

.bg-light {
	background: #e1e2e3;
}

.text-blue {
	color: rgba(50, 50, 121, 0.7);
}

.text-red {
	color: rgba(241, 46, 72, 0.7);
}

.text-light {
	color: #e1e2e3;
}

.row {
	display: flex;
	justify-content: space-between;
}

.p-1{
  padding: 1em;
}
.mx-1{
  margin: 1em 0;
}
/* /miscellaneous */

/* main */
.main {
	background: #e1e2e3;
	padding: 3em;
	min-height: 100vh;
}
/* /main */

/* folder-style */
.fa-folder {
	font-size: 5em;
	cursor: pointer;
}
.fa-folder-open {
	font-size: 2.5em;
}
/* /folder-style */

.folder-name {
  padding: 0.8em;
}

.folder-name-input {
	margin-top: 0.5em;
}

.create-folder-link {
	background: rgba(248, 111, 111, 0.7);
	outline: none;
	border: none;
	padding: 1em;
	font-size: 0.8em;
	font-weight: 700;
	color: #333;
	cursor: pointer;
}

.create-folder-link:hover {
	background: rgba(248, 111, 111, 0.9);
	color: #444;
}

.btn-success {
	background: rgba(11, 160, 18, 0.7);
	outline: none;
	border: none;
	padding: 0.7em;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}

.btn-success:hover {
	background: rgba(31, 180, 38, 0.9);
}

.cross-btn {
	background: rgba(211, 16, 16, 0.7);
	outline: none;
	border: none;
	padding: 1em;
	font-size: 0.8em;
	font-weight: 700;
	color: #fff;
  cursor: pointer;
  float: right;
}

.cross-btn:hover {
	background: rgba(167, 5, 5, 0.9);
	color: #e1e2e3;
}

.fa-trash {
	font-size: 1.5em;
	margin-top: 0.8em;
	background: #fff;
	padding: 0.2em 0.5em;
	border-radius: 20px;
	cursor: pointer;
}

.modal-body {
  width: 20vw;
}

.todoInput {
  padding: 0.3em;
  width: 100%;
}

.addMoreItem {
  cursor: pointer;
  font-size: 14px;
  background: #444;
  color: #fff;
  padding: 0.4em;
  width: fit-content;
}

/* todo */
.todoMain {
	background: #fafafa;
	color: rgba(50, 50, 121, 0.7);
	padding: 1.5em;
	margin-right: 40px;
	height: fit-content;
	max-width: 20em;
	margin-top: 5px;
}

.todo-items div{
	display: flex;
	margin: 1em 0;
	justify-content: space-between;
}

.todo-items div .fa-trash {
	font-size: 1.5em;
	margin-top: 0;
	background: #fff;
	padding: 0;
	margin-left: 10px;
	cursor: pointer;
	color: rgba(211, 16, 16, 0.7);
	line-height: 50%; 
}

.item-desc {
	margin-left: 10px;
	line-height:1;
}

.editInputTodo {
	width: 50%;
	padding: 0.5em;

}

.editTodo {
	cursor: pointer;
	font-weight: 600;
}

.copy-todo {
	margin-top: 40px;
}

.copy-todo .create-folder-link {
	width: 100px;
}
/* /todo */